.content-md hr {
    background-color: #e84f40;
    width:80%
}

.hrr {
    background-color: white !important;
    width:100%
}

.range-md.range-has-pin {
     padding-top: 0px !important;
}

.no-scroll {
    
        overflow-y: hidden;
 
}
